<tr>
  <td><%= event.name %></td>
  <td><%= event.date %></td>
  <td><%= event.type.name  %></td>
  <td><%= truncate(event.description, length: 20) %></td>
  <td><%= event.address %></td>
  <td class="actions">
    <%= link_to("Show", event ) %>
	<% if can? :update, event %>
	<%= link_to("Edit", edit_event_path(event) )  %>
	<% end %>
	<% if can? :destroy, event %>
	<%= link_to("Delete", event, method: :delete ) %>
	<% end %>	
  </td>
</tr>
