<% events.in_groups_of(3,false).each do |group| %>
  <div class="row">
  <% group.each do |event| %>

   <div class="col-md-4 col-sm-6">
	<div class="service-wrapper">
     <div class="center"><h3><%= link_to event.name, event %><br></h3> <span class="label label-info">

		<% case event.type.id %>
		<% when 1 %>
			<span class="glyphicon glyphicon-glass"></span>
		<% when 2 %>
			<span class="glyphicon glyphicon-music"></span>
		<% when 4 %>
			<span class="glyphicon glyphicon-film"></span>
		<% else %>	
				<%= event.type.name %>
		<% end %>
		</span>
		</div>
	
	
	    <div class="center">
		    <br><b><%= event.date.strftime("%d.%m.%Y %H:%M") %></b>
		    <br><b><%= event.address if event.address %></b>
        </div>
		<br><%= truncate(event.description, length: 200) %>
		<% if can? :update, event %>
			<br><%= link_to("Edit", edit_event_path(event) )  %>
		<% end %>
	
		<% if can? :destroy, event %>
			<br><%= link_to("Delete", event, method: :delete ) %>
		<% end %>
    </div>
   </div>

	<% end %>
</div>
<% end%>

