<% @page_title='Podujatia podla mesta' %>
<div class="events index">
  <h2>Events</h2>

  <%= link_to("Pridaj nove podujatie", {:action => :new }, :class => 'action new') %>


  <div class="formular">
    <%= form_tag('/events/search', :method => 'get', :class => 'form-search') do %>
                <%= text_field_tag(:search_city, params[:search_city]) %>
                <%= select_tag(:id_type, options_from_collection_for_select(Type.all, :id, :name) ) %>
                <%= submit_tag('Hladaj', :name => nil)%>
     <% end %>
  </div>
  </div>



  <table class="table" summary="Subject list">
    <tr class="header">
      <th>Nazov</th>
      <th>Datum</th>
      <th>Typ</th>
      <th>Popis</th>
      <th>Mesto</th>
      <th>Akcie</th>
    </tr>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.date %></td>
          <td><%= event.type.name if event.type.name  %></td>
          <td><%= truncate(event.description, length: 20) %></td>
          <td><%= event.address %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show', :id => event.id}, :class => 'action show') %>
            <%= link_to("Edit", {:action => 'edit', :id => event.id}, :class => 'action edit') %>
            <%= link_to("Delete", {:action => 'delete', :id => event.id}, :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>

<%= render partial: "application/paginate", locals: { object: @events }  %>

</div>