<%= link_to("<< Spat na zoznam podujati", events_path ) %>

<div class="row">
  <div class="col-md-6">
    <h1><%= @event.name %></h1>
    Dátum: <%= @event.date.strftime('%d.%m.%Y') %><br>
	Cas: <%= @event.date.strftime('%H:%M') %><br>
	Adresa: <%= @event.address %><br>
    Typ podujatia: <%= @event.type.nil?  ? 'Nespecifikovane' : @event.type.name %><br><br>
    <small> Popis: <%= @event.description %></small>
    <br><br>  <%= link_to "Facebook event", "http://www.facebook.com/#{@event.fb_id_number}", :target => '_blank' %>

  </div>
  <div class="col-md-6">
    <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?size=400x300&maptype=roadmap&sensor=false&zoom=15&markers=#{
    @event.latitude},#{@event.longitude}") %>
  </div>

</div>

