<%= link_to("<< Spat na zoznam podujati", events_path ) %>

<div class="row">
  <div class="col-md-6">
    <h1><%= @event.name %></h1>
    Dátum: <%= @event.date.strftime('%d.%m.%Y') %><br>
	Cas: <%= @event.date.strftime('%H:%M') %><br>
	Adresa: <%= @event.address %><br>
    Typ podujatia: <%= @event.type.nil?  ? 'Nespecifikovane' : @event.type.name %><br><br>
    <small> Popis: <%= @event.description %></small>
    <br><br>  <%= link_to "Facebook event", "http://www.facebook.com/#{@event.fb_id_number}", :target => '_blank' %>

  </div>
  <!-- Google Maps Embed API -->
  <iframe
  	    width="650"
  	    height="500"
  	    frameborder="0" style="border:0"
		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCnImQ5YILD6D-howUWSAdXkCTvzODJmAo&q=<%= @event.address %>">
  </iframe>

</div>

