<% @page_title = 'Hlavná stránka' %>

<div class="container">
	<ol class="breadcrumb">
	  <li class="active">Hlavná stránka</li>
  </ol>
  
<div class="jumbotron">
  <div class="row text-center">
  <h1><strong>domased.sk</strong><br>
	  <small><em>Najväčší vyhľadávač podujatí v tvojom okolí.</em></small></h1>
  <%= link_to('Pridaj nové podujatie', new_event_path, :class => ['btn','btn-warning','btn-lg']) %>
  <%= link_to('Vyhľadaj podujatie', events_path , :class => ['btn','btn-success','btn-lg']) %>
  </div> 
</div>

<div class="row">
	<div class="col-md-4">
		<ul>
			<li>Máš čas len v piatok? Vyhľadaj si všetky podujatia podľa dátumu!
		</ul>
		<div class="center">
			<div id="datepicker"></div></div> 
	</div>
	<div class="col-md-4 text-center"><blockquote>
		<strong>Nájdeš tu viac ako <%= Event.all.count %> podujatí!</strong></blockquote>
		A ďalšie stále pribúdajú!	
	</div>
	
	
	<div class="col-md-4">
		<% if current_user %>
			<%= link_to "Profil", user_path(current_user) %>
		<% else %>
			<strong>Prihlás sa a využívaj možnosti stránky naplno!</strong>
			<br><br>
			<ul>
			  <li>Prispôsobený obsah práve pre teba!</li>
			  <li>Pridávanie podujatí.</li>
			  <li>Poznáš zaujímavú stránku na facebooku? Pridaj ju a maj prehľad o udalostiach ktoré usporiadava.</li>
			  <li>A mnoho iného!</li>
			</ul>
		<% end %>
	
	</div>
	
	<% if current_user %>
	<%= render 'events/event', events: @events %>
	<% end %>
</div>

