<% @page_title='Lokality' %>
<div class="locations index">
  <h2>Events</h2>

  <%= link_to("Pridaj novu lokalitu", {:action => :new }, :class => 'action new') %>

    <div class="formular">
      <%= form_tag('/locations/index', method: :get, class: :'form-search') do %>
          <%= label_tag(:q,"Search for:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag('search')%>
      <% end %>
    </div>



  <table class="table" summary="Subject list">
    <tr class="header">
      <th>Mesto</th>
      <th>Adresa</th>
      <th>Lattitude</th>
      <th>Longitude</th>
      <th>Akcie</th>
    </tr>
    <% @locations.each do |location| %>
        <tr>
          <td><%= location.city %></td>
          <td><%= location.address %></td>
          <td><%= location.latitude  %></td>
          <td><%= location.longitude %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show', :id => location.id}, :class => 'action show') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>