
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Jakub Macina">
  <link rel="shortcut icon" href="">

  <!-- Zobrazi page_title aj ked nie je instancia, app helper-->
  <title><%= full_title(@page_title) %></title>

  <!-- Bootstrap core CSS -->
  <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
  <%= stylesheet_link_tag 'application', media: :all %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Google API places library for autocomplete  -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

  <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
  <!--<link href="jumbotron-narrow.css" rel="stylesheet">-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>


<%= render 'layouts/header' %>

<div class="jumbotron">
<div class="container">

  <% flash.each do |key,value| %>
      <div class='alert alert-<%= key %>'>
        <%= value %>
      </div>
  <% end %>

  <%= yield %>
</div>
</div>



<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>